.modal-overlay {
    @apply fixed !mt-0  inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50;
  }
  
  .modal-container {
    @apply bg-slate-100 rounded-lg shadow-lg p-6;
    min-width: 500px;
    max-width: 80%;
    max-height: 560px;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.2s ease-out, opacity 0.3s ease-out;
    overflow-y: hidden; 
    overflow-y: scroll;
   
  }
  @keyframes ScaleIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .modal-open {
    animation: ScaleIn 0.5s ease-out forwards;
  }
  
  .modal-header {
    @apply flex flex-col max-w-[80%] mx-auto  justify-center items-center;
  }
  
  .modal-title {
    @apply text-2xl font-bold;
  }
  
  .modal-body {
    @apply flex flex-col items-center text-center mt-4;
  }
  
  .close-btn {
    @apply text-white bg-gray-500 rounded-full w-[30px] h-[30px] p-[3px]  hover:bg-gray-600;
  }
  